@media (max-width: 64em) {
    .location-list{
        max-height: 30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecast-title {
    color:white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}