.weather-data-cont {
    background-color: transparent;
    width: 100%;
    height: 100px;
    line-height:100px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.weather-extra-info-cont{
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}

.weather-temperature-cont {
    width: 60%;
    display: inline-block;
}

.temperature {
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    color: black;
}

.temprature-type{
    font-weight: bold;
    color: darkslategrey;
}

.extra-info-text {
    display: block;
    color: darkmagenta;
    font-size: 16px;
    font-weight: bold;
}

.wicon {
    color: brown;
}
